﻿<%@ Page Title="" Language="C#" EnableSessionState="ReadOnly" MasterPageFile="~/MasterPagePrincipal.Master" AutoEventWireup="true" CodeBehind="Cadastro.aspx.cs" Inherits="AvaliacaoDeveloper.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:TextBox ID="TextBox1" runat="server" Font-Bold="True" Font-Size="XX-Large" BorderWidth="0">Cadastrar Veículos</asp:TextBox>
    <br />
    <asp:Label ID="Label1" runat="server" Text="Placa"></asp:Label>
    <br />
    <asp:TextBox ID="txbPlaca" runat="server" ></asp:TextBox>
    <br />
    <asp:Label ID="Label2" runat="server" Text="Renavam"></asp:Label>
    <br />
    <asp:TextBox ID="txbRenavam" runat="server" ></asp:TextBox>
    <br />
    <asp:Label ID="Label3" runat="server" Text="Nome do proprietário"></asp:Label>
    <br />
    <asp:TextBox ID="txbNomeProprietario" runat="server" ></asp:TextBox>
    <br />
    <asp:Label ID="Label4" runat="server" Text="CPF"></asp:Label>
    <br />
    <asp:TextBox ID="txbCpfProprietario" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label7" runat="server" Text="Carregar Imagens"></asp:Label>
    <br />
    <asp:FileUpload ID="FileUpload1" runat="server" multiple="multiple"  />
    <br />
    <asp:CheckBox ID="cbBloqueado" runat="server" />
    <asp:Label ID="Label5" runat="server" Text="Bloqueado" Font-Bold="True"></asp:Label>
    <br /><br />
    <asp:Button ID="btSalvar" runat="server" Text="Salvar" OnClick="btSalvar_Click" />    
    <asp:Label ID="lMsg" runat="server" Font-Bold="True" Font-Size="X-Large"></asp:Label>

    

    </asp:Content>
